@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="mb-3">О нас</h1>
    <div class="row">
        <div class="col-md-6">
            <p class="subtitle mb-3">Subheading for description or instructions</p>
            <p>Body text for your whole article or post. We'll put in some lorem ipsum to show how a filled-out page might look:</p>
            <p>Exeteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation exquisite perfect nostrud nisi intricate Content. Qui international first-class nulla ut. Punctual adipisicing, essential lovely queen tempor eiusmod rure. Exclusive izakaya charming Scandinavian impeccable aute quality of life soft power partiaur Melbourne occaecat discerning. Qui wardrobe aliquip, et Porter destination Toto remarkable officia Helsinki excepteur Basset hound. Zürich sleepy perfect consectetur.</p>
        </div>
        <div class="col-md-6">
            <img src="https://radenis.ru/uploads/all/91/57/41/9157411c242971cefa91e410c7655976.jpg" alt="Описание изображения" class="img-fluid rounded">
        </div>
    </div>
</div>