@using VetClinic.Models.Authorization;
@model VetClinic.Models.Authorization.AuthorizationViewModel

@{
    ViewData["Title"] = "Authorization";
}

<div class="text-center">
    <h1 class="display-4">Vetclinic Авторизация</h1>
    <p>Авторизуйтесь, либо зарегистрируйтесь на нашем сайте</p>
</div>


<div class="tab-content">
    <div class="tab-pane fade" id="pills-login" role="tabpanel">
        @{
            ViewData.TemplateInfo.HtmlFieldPrefix = "l";
            await Html.RenderComponentAsync<LoginComponent>(RenderMode.Server, Model?.LoginViewModel);
        }
    </div>

    <div class="tab-pane fade" id="pills-register" role="tabpanel">
        @{
            ViewData.TemplateInfo.HtmlFieldPrefix = "r";
            await Html.RenderComponentAsync<RegisterComponent>(RenderMode.Server, Model?.RegisterViewModel);
        }
    </div>
</div>
