@using VetClinic.Models.Authorization;
@using VetClinic.Components;
@model VetClinic.Models.Authorization.AuthorizationViewModel

@{
    ViewData["Title"] = "Authorization";
}

<div class="text-center">
    <h1 class="display-4">Vetclinic Авторизация</h1>
    <p>Авторизуйтесь, либо зарегистрируйтесь на нашем сайте</p>
</div>

<div class="centered-tabs-container">
<!-- Вкладки навигации -->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Вход</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-register-tab" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab" aria-controls="pills-register" aria-selected="false">Регистрация</button>
    </li>
</ul>
</div>

<!-- Содержимое вкладок -->
<div class="tab-content" id="pills-tabContent">
    <!-- Вкладка Вход -->
    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
        @{
            await Html.RenderPartialAsync("_Login", Model?.LoginViewModel);
        }
    </div>
    <!-- Вкладка Регистрация -->
    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
        @{
            await Html.RenderPartialAsync("_Register", Model?.RegisterViewModel);
        }
    </div>
</div>

